.family-container {
  position: relative;
  overflow: hidden;
}
.family {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.family-case {
  background-image: url("../img/family.webp");
  height: 100vh;
  width: 100vw;

  //   margin-top: 25%;
  //   margin-left: 50%;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
}
.family-container img {
  position: absolute;
  //   height: 100vh;
  //   width: auto;
  //   object-fit: cover;
}
// .family-container img.family {
//   position: relative;
// }
.family-container img.top {
  top: 0;
}
.family-container img.bottom {
  bottom: 0;
}
