.foliage img {
  width: 184px;
  position: absolute;
}

.foliage-left {
  bottom: 0;
  left: 0;
}

.foliage-right {
  top: 0;
  right: 0;
}

.foliage svg {
  position: absolute;
  top: 50%;
  right: 50%;
}
