.walking-container {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 24px;
}
img.walking-foliage {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: top left;
}
.walking-1 {
  width: 436px;
  height: 436px;
}

.walking-2 {
  width: 203px;
  height: 204px;
}

.walking-3 {
  width: 203px;
  height: 204px;
}

.walking-4 {
  width: 203px;
  height: 204px;
}
