.carre-anim1 {
  width: 400px;
  height: 400px;
  background-color: black;
  margin-top: 200px;
  margin-left: 100px;
}

.carre-anim2 {
  width: 200px;
  height: 200px;
  background-color: black;
  margin-top: 30px;
  margin-left: 100px;
}

.carre-anim3 {
  width: 200px;
  height: 200px;
  background-color: black;
  margin-top: 30px;
  margin-left: 100px;
}

.carre-anim4 {
  width: 200px;
  height: 200px;
  background-color: black;
  margin-top: 30px;
  margin-left: 100px;
}
